<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>Instagames</title>

    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- incluindo css -->
    <link href="css/style.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="col-md-8">
                <div class="container-fluid">
                    <img alt="Instagram Clone - Versão WEB" style="width: 110px; height: 60px" src="images/controller.jpeg" class="logo2">
                    <img alt="Instagram Clone - Versão WEB" style="width: 250px; height: 80px" src="images/logo_games.png" class="logo2">
                </div>
            </div>
        </div>
    </nav>


    <div class="container" id="container_form">
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p style="text-align: justify">Meu nome é Ricardo Gomes Saraiva, atualmente com 35 anos, moro em Osasco, sou formado em Analise e Desenvolvimento
                de sistemas na UNIFIEO, tenho como hobby jogos de PC, me considero um gamer, atualmente jogo Dota 2 sem muito
                talento kkkkk e também aquarismo, tenho um aquário de quase 400 litros. </p>
            <p style="text-align: justify">Profissionalmente tenho experiência na plataforma .NET há 5 anos, usando
                <strong>
                    <i>C#</i>
                </strong> como linguagem de programação utilizando como ORM
                <strong>
                    <i>Entity Framework 6</i>
                </strong> em
                <strong>
                    <i>Database First</i>
                </strong> ou
                <strong>
                    <i>Code First</i>
                </strong>, com uso de LINQ to SQL, projetos com arquitetura
                <strong>
                    <i>MVC</i>
                </strong> e
                <strong>
                    <i>Web forms</i>
                </strong>, utilizando
                <strong>
                    <i>Jquery</i>
                </strong>, ou framework
                <strong>
                    <i>Angularjs</i>
                </strong> , já trabalhei bancos de dados relacionais
                <strong>
                    <i>Sql Server</i>
                </strong> e
                <strong>
                    <i>My Sql</i>
                </strong> com ou sem ORMs (EF). Neste período já desenvolvi windows services, web services, micro-services,
                aplicações windows forms, relatórios em <strong><i>Crystal Reports</i></strong> , Dashboards e aplicações web responsivas com uso de templates.
            </p>
            <p style="text-align: justify">Hoje estou em busca de novos desafios, saindo um pouco da plataforma Windows, onde busquei conhecimento em Linux
                com distribuições
                <strong>
                    <i>GNU/Linux Ubuntu</i>
                </strong> e
                <strong>
                    <i>Debian</i>
                </strong>. Busquei também conhecimentos em novas tecnologias como
                <strong>
                    <i>NodeJs</i>,
                </strong> frameworks
                <strong>
                    <i>Express</i>,
                </strong>
                <strong>
                    <i>ReactJs</i>,
                    <strong>
                        <i>Redux</i>
                    </strong>
                </strong>e
                <strong>
                    <i>AngularJs 5</i>
                </strong>, conheci melhor o
                <strong>
                    <i>HTML5</i>
                </strong> e o
                <strong>
                    <i>CSS 3</i>
                </strong>, aprendi sobre bancos não relacionais (no-Sql)
                <strong>
                    <i>MongoDb</i>
                </strong>, utilizando ou não o
                <strong>
                    <i>Moongose</i>
                </strong> como ORM.
            </p>
            <p style="text-align: justify">Aprendi uma nova linguagem de programação o
                <strong>
                    <i>Python</i>
                </strong> utilizando o framework
                <strong>
                    <i>Django</i>
                </strong>, e desenvolvi alguns projetos pessoais, para aplicar estes novos conhecimentos que estão disponíveis no
                <a href="#">GitHub</a>
            </p>
            <p>Bom isso é um pouco sobre mim =)</p>
        </div>
        <hr>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Tecnologias usadas neste sistema</strong>
            </div>
            <div class="panel-body">
                <p style="text-align: justify">
                    <strong>Descrição: </strong> Sistema com base no core do Instagram, onde o usuário deverá realizar um breve cadastrado,
                    para ter acesso ao sistema, e so poderá acessar as páginas se estiver logado. Ao acessar a página principal
                    o usuário poderá visualizar todos os jogos já postados por amigos/pessoas. O sistema deve permitir que
                    o usuário adicione novos jogos, exportando (upload) uma imagem que reflita o jogo, para tal ação, acessando
                    o menu superior opção Publicar. Ao salvar os dados a API será acionada para fazer o upload da imagem
                    e salvar os dados no mLab.</p>
                <p>O usuário poderá também comentar algum post, bem como dar likes ou deslikes no mesmo.</p>
                <p>
                    <p>
                        <strong>Front-end: </strong> EJS, html e boostrap.</p>
                    <p>
                        <p>
                            <strong>Back-end: </strong> NodeJS</p>
                        <p>
                            <strong>Framework: </strong> Express</p>
                        <p>
                            <strong>Banco de dados: </strong> MongoDB - hospedado no mLab (
                            <i>mLab is the leading Database-as-a-Service for MongoDB.</i>)</p>
                        <p>
                            <strong>ORM: </strong> Mongoose</p>
                        <p>
                            <strong>Persistência: </strong> API RESTFul desenvolvida em NodeJS e Express</p>
                        <p>
                            <strong>Upload: </strong> Amazon S3</p>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-default" href="/home" role="button">Página Home</a>
        </div>

    </div>
</body>

</html>